.body {
  color: white;
  background-color: $red;
  background-image: url(../img/bg-intro-mobile.png);
  min-width: 375px;
}

.main {
  width: 375px;
  margin: 0 auto;
}

.header {
  font-family: "bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 20px;
  margin: 55px 47px 0;
  text-align: center;

}
