@font-face {
  font-family: "regular-font";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "medium-font";
  src: url(../fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "semibold-font";
  src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "bold-font";
  src: url(../fonts/Poppins-Bold.ttf) format("truetype");
}
